﻿@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookie-warn">
        <div class="popup flex row items-center">
            <div class="flex-size">This site uses cookies omegaLUL</div>
            <div class="button green" data-cookie-string="@cookieString">
                Accept
            </div>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookie-warn div[data-cookie-string]");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
                document.getElementById("cookie-warn").style.display = "none";
            }, false);
        })();
    </script>
}
