﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.png" type="image/png">
    <title>ChipBot - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/common.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    @if (Model.IsAuthenticated)
    {
        <link rel="stylesheet" href="~/css/roles.css" />
    }
</head>
<body class="flex col">
    @if (Model.IsAuthenticated)
    {
        <header>
            <nav class="width-wrapper flex row items-center">
                <a asp-area="" asp-page="/Index" class="mr-r big"><div class="flex row items-center"><img id="logo" class="round s40 mr-r small" src="@Html.GetAvatarUrl((Discord.IUser)Model.BotUser, 128)" /><span>ChipBot</span></div></a>
                <div class="flex flex-size">
                    @if (Model.DiscordUser != null)
                    {
                        @Html.GenerateMenuItem("/Profile", "Profile")
                    }
                    @Html.GenerateMenuItem("/Users", "Users")
                    @Html.GenerateMenuItem("/Points", "Points")
                    @if (Model.DiscordUser != null && ChipWebService.ChipConfiguration.Owners.Contains(((Discord.IUser)Model.DiscordUser).Id))
                    {
                        @Html.GenerateMenuItem("/Logs", "Logs")
                    }
                </div>
                @if (Model.DiscordUser != null)
                {
                    <div id="logged-as" class="inline round s40" style="background-image: url('@Html.GetAvatarUrl((Discord.IUser)Model.DiscordUser, 128)')">
                        <div class="popup flex row invisible">
                            <div class="flex col flex-size">
                                <span class="small-text">Logged in as</span>
                                <span><span class="accent-text">@Model.DiscordUser.Username</span>#@Model.DiscordUser.DiscriminatorValue</span>
                            </div>
                            <div class="flex col content-center">
                                <a asp-action="Logout" asp-controller="Account" class="link red-text">Log Out</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="flex col content-center">
                        <a asp-action="Logout" asp-controller="Account" class="link red-text">Log Out</a>
                    </div>
                }
            </nav>
        </header>
    }

    <main class="flex-size width-wrapper">
        @RenderBody()
    </main>

    <footer class="flex col items-end">
        <span>
            Powered by
            <a href="http://raspberrypi.org" title="Raspberry Pi"><i class="fab fa-raspberry-pi"></i></a>
            <a href="http://fontawesome.com" title="Font Awesome"><i class="fab fa-font-awesome-alt"></i></a>
            <a href="http://discordapp.com" title="Discord"><i class="fab fa-discord"></i></a>
        </span>
        <br>
        <span><i class="far fa-copyright"></i>Eloncase 2019</span>
    </footer>

    <partial name="_CookieConsentPartial" />

    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
