﻿/* core */

:root {
    --bg-color: #36393f;
    --bg-dark-color: #202225;
    --bg-popup-color: #18191c;
    --text-color: #b9bbbe;
    --text-accent-color: #f6f6f7;
    --text-red-color: #f04747;
    --text-green-color: #43b581;
    --accent-color: #00cc99;
    --accent-color-tr: #00cc9988;
    --btn-green: #43b581;
    --grid-color: rgba(4,4,5,.1);
    --grid-border-color: rgba(4,4,5,.3);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

header {
    background-color: var(--bg-dark-color);
    height: 60px;
}

footer {
    padding: 2px 5px;
    opacity: .3;
}

i {
    margin-right: 4px;
}

/* flex related */

.flex {
    display: flex;
}

.flex-size {
    flex: 1;
}

.flex.col {
    flex-flow: column;
}

.flex.row {
    flex-flow: row;
}

.flex.wrap {
    flex-flow: wrap;
}

.flex.items-center {
    align-items: center;
}

.flex.items-start {
    align-items: flex-start;
}

.flex.items-end {
    align-items: flex-end;
}

.flex.content-center {
    justify-content: center;
}

.flex.content-start {
    justify-content: flex-start;
}

/* utility */

.width-wrapper {
    width: 1300px;
    margin: auto;
}

.display-none {
    display: none;
}

.invisible {
    visibility: hidden;
}

.mr-r {
    margin-right: 20px;
}

    .mr-r.small {
        margin-right: 10px;
    }

    .mr-r.big {
        margin-right: 60px;
    }

.mr-l {
    margin-left: 20px;
}

    .mr-l.small {
        margin-left: 10px;
    }

    .mr-l.big {
        margin-left: 60px;
    }

.pad {
    padding: 20px;
}

.pad-t {
    padding-top: 20px;
}

    .pad-t.small {
        padding-top: 10px;
    }

.inline {
    display: inline-block;
}

.round {
    border-radius: 50%;
}
.rounded {
    border-radius: 6%;
}
.height-fill {
    height: 100%;
}

/* text */

.align-center {
    text-align: center
}

.accent-text {
    color: var(--text-accent-color);
}

.red-text {
    color: var(--text-red-color);
}

.green-text {
    color: var(--text-green-color);
}

.small-text {
    font-size: 0.8em;
}

.big-text {
    font-size: 1.4em;
}

.link:hover {
    text-decoration: underline;
}

/* buttons */

.button {
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
}

    .button.green {
        color: white;
        background-color: var(--btn-green);
    }

    .button.red {
        border: 1px solid var(--text-red-color);
        color: var(--text-red-color);
        background-color: transparent;
    }

/* input */

input[type="text"] {
    background-color: var(--grid-color);
    border: 1px solid var(--grid-border-color);
    color: var(--text-accent-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    transition-duration: .25s;
}

    input[type="text"]:hover {
        border-color: black;
    }

    input[type="text"]:focus {
        border-color: var(--accent-color);
    }

/* header */

nav > a {
    color: var(--text-accent-color);
    font-size: 1.2em;
}

.menu, .menu div {
    display: inline-block;
}

    .menu div {
        padding: 0 10px;
        line-height: 58px;
        transition-duration: .25s;
        border-bottom: 2px transparent solid;
    }

        .menu div:hover, .menu div.active {
            color: var(--text-accent-color);
            border-bottom: 2px var(--accent-color) solid;
            background: linear-gradient(transparent 70%, var(--accent-color-tr) 100%);
        }

.popup {
    background-color: var(--bg-popup-color);
    padding: 10px 20px;
    border-radius: 5px;
    transition-duration: .25s;
    opacity: 1;
}

    .popup.invisible {
        opacity: 0;
    }

#logged-as {
    background-size: cover;
    position: relative;
    cursor: pointer;
}

    #logged-as .popup {
        position: absolute;
        width: 180px;
        right: 0;
        top: 45px;
        cursor: default;
    }

/* cookie consent */

#cookie-warn {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

    #cookie-warn > div {
        margin: auto;
        max-width: 800px;
    }

/* sizings */
.s40 {
    height: 40px;
    width: 40px;
}

.s96 {
    height: 96px;
    width: 96px;
}

.s200 {
    height: 200px;
    width: 200px;
}

.s250 {
    height: 250px;
    width: 250px;
}

/* grids */

.grid {
    background-color: var(--grid-color);
    border: 1px solid var(--grid-border-color);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

/* roles */
.role {
    border: 1px solid var(--text-accent-color);
    border-radius: 10px;
    padding: 0px 8px 0px 5px;
    color: var(--text-accent-color);
    white-space: nowrap;
}

    .role > span {
        display: inline-block;
        border-radius: 50%;
        background-color: var(--text-accent-color);
        width: 11px;
        height: 11px;
        margin-right: 3px;
    }

/* users */
.user {
    width: 350px;
}

/* leaderboard */
.tp-i {
    display: inline-block;
    width: 25px;
    text-align: right;
}

.tp-r {
    padding: 5px 20px;
}

.tp-rp {
    padding: 5px 20px;
    margin-bottom: -8px;
}

/* logs */

#logs {
    font-family: Consolas, Courier New, Courier, monospace;
    max-height: 700px;
    overflow-y: scroll;
}

    #logs > div > div {
        margin-right: 5px;
    }

.ls-0, .ls-1 {
    color: var(--text-red-color);
}

.ls-2 {
    color: #faa61a;
}

.ls-3 {
    color: var(--text-green-color);
}

.ls-4 {
    color: var(--text-accent-color);
}

.ls-5 {
    color: var(--text-color);
}

.ls-ex {
    cursor: pointer;
}

.ls-ex::before {
    margin: auto 0 auto -10px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 2px;
    border: 4px solid transparent;
    border-left-color: var(--text-color);
}

    .ls-ex.open::before {
        margin: 8px 4px auto -14px;
        border: 4px solid transparent;
        border-top-color: var(--text-color);
    }

    .ls-ex .ls-exd {
        display: none;
    }
    .ls-ex.open .ls-exd {
        display: flex;
    }

.lt, .ls {
    flex: 1;
    max-width: 85px;
    overflow: hidden;
}

.lsrc {
    flex: 2;
    max-width: 160px;
    overflow: hidden;
}

.lm {
    flex: 10;
}