﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="flex row items-center height-fill">
    <div class="flex col big-text">
        <span class="big-text red-text"><i class="fas fa-exclamation-triangle"></i>500</span>
        <span>Something went wrong</span>
    </div>
</div>