﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="height-fill flex col content-center items-center">
    <div class="grid flex col content-center">
        <img class="round s200" src="@Html.GetAvatarUrl(Model.BotUser)" />
        <div class="align-center pad big-text">ChipBot</div>
        <a asp-action="Login" asp-controller="Account" class="button green">Log In with Discord <i class="fab fa-discord"></i></a>
    </div>
</div>
