﻿@page
@model LogsModel
@{
    ViewData["Title"] = "Logs";
}

<div class="grid">
    <span>WebSocket Connection: <span id="wsstate"></span></span>
    <div id="logs" class="grid flex col"></div>
</div>

<script src="~/js/logs.min.js" asp-append-version="true"></script>