﻿@page
@model PointsModel
@{
    ViewData["Title"] = "Points";
}

<div class="flex row">
    <div id="ldr-part" class="flex col flex-size">
        <partial name="LeaderboardPartial" />
    </div>
    <div class="flex col flex-size">
        <div id="rfl-part" class="flex col">
            <partial name="RaffleStatsPartial" />
        </div>
        @if (Model.DiscordUser != null)
        {
        <div class="grid flex row">
            <div class="flex col mr-r big">
                <span id="pts-part"><span>You Have: <span id="pts" class="accent-text">@Model.PointsService.GetPoints(Model.DiscordUser)</span>@Model.PointsService.CurrencyName</span></span>

                <input id="ptsIn" type="text" />
                <span id="err" class="red-text"></span>
                <div class="flex row pad-t small">
                    <input class="button green mr-r small" id="raffle" type="submit" value="Raffle"/>
                    <input class="button green" id="raffleAll" type="submit" value="Raffle All"/>
                </div>
            </div>
            <div id="log" class="flex col">
            </div>
        </div>
        }
    </div>
</div>

<script src="~/js/points.min.js" asp-append-version="true"></script>