﻿@page
@model ProfileModel
@using Humanizer
@{
    ViewData["Title"] = "Profile";
}

<div class="flex wrap items-start">
    <div class="grid flex content-center">
        <img class="round s250" src="@Html.GetAvatarUrl(Model.RequestedUser)" />
        <div class="flex col content-center mr-l">
            @Html.UsernameToSpan(Model.RequestedUser, false)
            <span><span>Joined At: </span><span class="accent-text">@Model.RequestedUser.JoinedAt.Value.ToString("D")</span><span> (@Model.RequestedUser.JoinedAt.Humanize())</span></span>
            @if (Model.TrackedUser.LastSeen == DateTime.MinValue)
            {
                <span><span>Last Seen At: </span><span class="accent-text">Never</span></span>
            }
            else
            {
                <span><span>Last Seen At: </span><span class="accent-text">@Model.TrackedUser.LastSeen.ToString("D")</span><span> (@Model.TrackedUser.LastSeen.Humanize())</span></span>
                <span><span>Last Activity: </span><span class="accent-text">@Model.TrackedUser.LastActivity</span></span>
            }
            <span><span>Time Online: </span><span class="accent-text">@Model.TrackedUser.TimeOnline.Humanize(maxUnit: Humanizer.Localisation.TimeUnit.Day)</span></span>
            <span><span>Time In Voice: </span><span class="accent-text">@Model.TrackedUser.TimeInVoice.Humanize(maxUnit: Humanizer.Localisation.TimeUnit.Day)</span></span>
            <span><span>Messages Sent: </span><span class="accent-text">@Model.TrackedUser.MessagesSent</span></span>
            @if (Model.RequestedUser.Roles.Count > 1)
            {
                var roles = Model.RequestedUser.Roles.Where(x => !x.IsEveryone);
                <span>
                    <span>Roles: </span>
                    @foreach (var r in Model.RequestedUser.Roles.Where(x => !x.IsEveryone))
                    {
                        <span class="role @Html.RoleToClass(r)"><span></span>@r.Name</span>
                    }
                </span>
            }
            @if (Model.TrackedUser.OldNicknames != null && Model.TrackedUser.OldNicknames.Any())
            {
                <div class="flex col">
                    <span>a.k.a.</span>
                    <div class="grid flex col">
                        @foreach (var n in Model.TrackedUser.OldNicknames)
                        {
                            <span>@n.Nickname</span>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.TrackedUser.Games != null && Model.TrackedUser.Games.Any())
    {
        <div class="grid flex col">
            <span>Was seen playing:</span>
            <div class="grid flex col">
                @foreach (var g in Model.TrackedUser.Games)
                {
                    <span>@g</span>
                }
            </div>
        </div>
    }
    <div class="grid flex col">
        <span>Points: <span class="accent-text">@Model.PointsService.GetUserPointsFormatted(Model.RequestedUser)</span></span>
        @{ var rfl = Model.RaffleService.GetUserData(Model.RequestedUser); }
        @if (rfl != null)
        {
            <div class="grid flex col">
                <span>Total Times Won: <span class="accent-text">@rfl.TotalWon</span></span>
                <span>Total Times Lost: <span class="accent-text">@rfl.TotalLost</span></span>
                <span>Total Points Won: <span class="accent-text">@rfl.TotalPtsWon</span></span>
                <span>Total Points Lost: <span class="accent-text">@rfl.TotalPtsLost</span></span>
            </div>
        }
    </div>

    @if (Model.EveSsoService != null && Model.EveApiService != null)
    {
        var characters = await Model.EveSsoService.GetUserData(Model.RequestedUser);
        if (characters != null && characters.Any())
        {
            var namesToResolve = new List<long>();

            @foreach (var c in characters)
            {
                namesToResolve.Add(c.AllianceID);
                namesToResolve.Add(c.CorporationID);
                namesToResolve.Add(c.FactionID);
            }

            var namedEnt = (await Model.EveApiService.GetNamedEntities(namesToResolve.Distinct().ToList())).ToDictionary(kv => kv.Key, kv => kv.Value.Name);
            string ResolveName(long id) => namedEnt.ContainsKey(id) ? namedEnt[id] : id.ToString();

            <div class="grid flex col">
                <span>EVE Characters</span>
                @foreach (var c in characters)
                {
                    <div class="grid flex">
                        <img class="s96 rounded" src="@($"https://imageserver.eveonline.com/Character/{c.CharacterID}_128.jpg")" />
                        <div class="flex col content-center mr-l">
                            <span class="accent-text">@c.CharacterName</span>
                            @if (c.AllianceID > 0)
                            {
                                <span>Alliance: <span class="accent-text">@ResolveName(c.AllianceID)</span></span>
                            }
                            <span>Corporation: <span class="accent-text">@ResolveName(c.CorporationID)</span></span>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>