﻿@page
@model UsersModel
@{
    ViewData["Title"] = "Users";
}

<div class="flex wrap items-start">
    @{ var sorted = Model.MainGuild.Users.OrderByDescending(u => u.Roles.Max(r => r.Position)); }
    @foreach (var user in sorted)
    {
        <div class="grid flex content-start user">
            <a asp-area="" asp-page="/Profile" asp-route-id="@user.Id"><img class="round s96" src="@Html.GetAvatarUrl(user, 128)" /></a>
            <div class="flex col content-center mr-l">
                <a asp-area="" asp-page="/Profile" asp-route-id="@user.Id">@Html.UsernameToSpan(user, true)</a>

                @if (user.Roles.Count > 1)
                {
                    var roles = user.Roles.Where(x => !x.IsEveryone);
                    <span>
                        <span>Roles: </span>
                        @foreach (var r in user.Roles.Where(x => !x.IsEveryone))
                        {
                            <span class="role @Html.RoleToClass(r)"><span></span>@r.Name</span>
                        }
                    </span>
                }
            </div>
        </div>
    }
</div>
