﻿@using ChipWebPlugin.Core
@{ var i = 1; }
@foreach (var user in Model.PointsService.GetUsers())
{
    var gUser = Model.MainGuild.GetUser(user.Key);
    if (gUser == null) { continue; }
    <div class="grid flex row items-center tp-rp">
        <span class="tp-i mr-r small">@(i++).</span>
        <a class="flex row items-center flex-size" href="/Profile?id=@user.Key">
            <img class="round s40 mr-r small" src="@Html.GetAvatarUrl((Discord.IUser)gUser, 128)" />
            <span>@Html.UsernameToSpan((Discord.WebSocket.SocketGuildUser)gUser, true)</span>
        </a>
        <span><span class="accent-text">@user.Value</span>@Model.PointsService.CurrencyName</span>
    </div>
}