﻿@using ChipWebPlugin.Core
<div class="grid flex col">
    @{ var data = Model.RaffleService.GetData(); }
    <span>Biggest Winner:</span>
    <div class="grid tp-r">
        @{ var winner = Model.MainGuild.GetUser(data.BiggestWinner); }
        <a class="flex row items-center" href="/Profile?id=@winner.Id">
            <img class="round s40 mr-r small" src="@Html.GetAvatarUrl((Discord.IUser)winner, 128)" />
            <span class="flex-size">@Html.UsernameToSpan((Discord.WebSocket.SocketGuildUser)winner, true)</span>
            <span><span class="accent-text">@data.BiggestWin</span>@Model.PointsService.CurrencyName</span>
        </a>
    </div>
    <span>Biggest Loser:</span>
    <div class="grid tp-r">
        @{ var loser = Model.MainGuild.GetUser(data.BiggestLoser); }
        <a class="flex row items-center" href="/Profile?id=@loser.Id">
            <img class="round s40 mr-r small" src="@Html.GetAvatarUrl((Discord.IUser)loser, 128)" />
            <span class="flex-size">@Html.UsernameToSpan((Discord.WebSocket.SocketGuildUser)loser, true)</span>
            <span><span class="accent-text">@data.BiggestLose</span>@Model.PointsService.CurrencyName</span>
        </a>
    </div>
</div>